.hero-image {
    background-repeat: no-repeat;
    width: 100%;
    height: 37.5rem;
    object-fit: cover;
    opacity: 0.85;
}

.hero-division {
    position: relative;
}

.hero-title {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 4.063rem;
    font-weight: 800;
    position: absolute;
    top: 35%;
    transform: translateY(-35%);
    right: 3rem;
    transition: 0.5s ease-in-out;
}

/* .hero-title:hover {
    transition: 0.5s ease-in;
    color: #F39640;
    cursor: pointer;
} */

.sub-text {
    font-size: 2rem;
    position: absolute;
    right: 3rem;
    top: 45%;
    color: black;
    font-weight: 600;
    transition: 3.5s ease-in-out;
    font-family: cursive;
}

.hero-nav {
    position: absolute;
    top: 60%;
    right: 9%;
    font-size: 2rem;
}
.hero-nav ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-family: cursive;
}


.hero-nav ul li a {
    text-decoration: none;
    color: inherit;
}
.hero-nav ul li:hover {
    transition: 0.5s ease-in;
    color: #F39640;
    cursor: pointer;
}

#about-division {
    height: 37.5rem;
}

.flex-content {
    display: flex;
}



.flexed-content1, .flexed-content2 {
    flex: 50%;
}

.flexed-content1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexed-content1 h3 {
    font-size: 3rem;
    margin: 0;
    font-family: monospace;
}


.flexed-content1 p, .contact-para {
    width: 70%;
    text-align: justify;
    font-family: cursive;
}
.flexed-content2 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,300px);
    column-gap: 10px;
    row-gap: 10px;
}

.flexed-content2 img{
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
}

.flexed-content2 img:hover{
    filter: none;
    cursor: pointer;
}

#portfolio-division {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin: 2rem 0;
}

#portfolio-division .card-image {
    background-color: #aaa;
    filter: drop-shadow(0px 0px 4px #aaa);
}


.card-image {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#portfolio-division .card-image:hover {
    /* filter: grayscale(1); */
    cursor: pointer;
    background: linear-gradient(teal,white);
}

.portfolio-heading, .contact-heading {
    text-align: center;
    font-size: 32px;
    font-family: cursive;
    font-weight: 600;
}

.form-data > form > * {
    display: block;
    width: 50%;
    margin: 20px 0;
    padding-left: 13px;
}

.form-data form input {
    width: 100%;
    max-width: 200px;
    border-radius: 8px;
    height: 32px;
}

.form-data form textarea {
    width: 100%;
    max-width: 200px;
    border-radius: 8px;
    padding: 13px;
}

.form-data button {
    background-color: #F39640;
    border-radius: 8px;
    color: #fff;
    width: max-content;
    padding: 10px 12px;
    border-color: #F39640;
}

.centertext {
    text-align: center;
    font-size: 14px;
    font-family: cursive;
    font-weight: 600;
}

